node_modules
.git
.github
.vscode
.codex-tmp

.DS_Store
dist
dist-ssr
**/.next
**/dist
**/dist-ssr
**/tsconfig.tsbuildinfo
*.local

apps/web/assets-git
apps/web/src/data/photos-manifest.json
apps/web/src/data/.cache
apps/web/public/photos
apps/web/public/thumbnails
apps/ssr/public
**/.afilmory-trash
.vercel

*.tar
*.tar.gz
**/*.tar
**/*.tar.gz

public/**
apps/ssr/src/index.html
apps/ssr/src/index.html.ts
